<img src="http://sarahbrownridge.co.uk/wp-content/uploads/2012/08/MeatPie_lo.jpg" alt="Steak Pie">

<h1>EVERYONE LOVES A PIE</h1>
<p>Welcome To The Pie Page</p>
<h1> LOVE MINCE PIES </h1>

<li> Mince Pie </li>

<img src="http://www.taste.com.au/images/recipes/sfi/2008/11/family-mince-pie-15993_l.jpeg" alt="Mince Pie">

<li> Steak Pie </li>

<img src="http://realfood.tesco.com/media/images/steak-pie-h-b56bf498-cc57-40c8-9006-c809a4cacdb1-0-472x310.jpg" alt="Steak Pie">


<li> Cheese Pie </li> 

<img src="http://www.albanybulgarianproperties.ru/images/british-food/new/Luxuriant%20Potato,%20Cheese%20&%20Onion%20Pie.jpg" alt="Cheese Pie">

</ul>

<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
  <button type="submit" class="btn btn-default">Send invitation</button>
</form>

<a href="/home/mincepieindex"> Click Here For Mince Pies </a>
